%heading-base {
    font-family: var(--sans);
}

%heading-1 {
    text-transform: uppercase;
    margin-top: 0;

    font-size: rem(38px);
}

%heading-2 {
    text-transform: uppercase;
    margin-top: 0;

    font-size: rem(32px);
}

%heading-3 {
    text-transform: uppercase;
    margin-top: 0;

    font-size: rem(24px);
}

%heading-4 {
    text-transform: uppercase;
    margin-top: 0;

    font-size: rem(18px);
}

%heading-5 {
    text-transform: uppercase;
    margin-top: 0;

    font-size: rem(16px);
}

%heading-6 {
    text-transform: uppercase;
    margin-top: 0;

    font-size: rem(14px);
}
