msc-toast-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  margin: 1em;

  max-height: 90vh;
  overflow: auto;

  height: 100%;
}
